name: backend 

on:
        push:
                branches: [master]

jobs:
        build:
                runs-on: ubuntu-latest
                steps:
                        - name: Checkout
                          uses: actions/checkout@v2
                        - name: Send backend via ssh
                          uses: garygrossgarten/github-action-scp@release
                          with:
                                  host: ${{ secrets.HOST }}
                                  username: ${{ secrets.USERNAME }}
                                  password: ${{ secrets.PASSWORD }}
                                  local: "/home/runner/work/Edges/Edges/backend"
                                  remote: "/home/${{ secrets.USERNAME}}/backend"
        deploy:
                runs-on: ubuntu-latest
                steps:
                        - name: Checkout
                          uses: actions/checkout@v2
                        - name: Create config file for ssh copy
                          run: |
                                  echo "${{ secrets.NGINX_CONFIG}}" > edges.conf                               
                        - name: send configuration file
                          uses: garygrossgarten/github-action-scp@release
                          with:
                                  host: ${{ secrets.HOST }}
                                  username: ${{ secrets.USERNAME }}
                                  password: ${{ secrets.PASSWORD }}
                                  local: "/home/runner/work/Edges/Edges/edges.conf"
                                  remote: "/tmp/edges.conf"

                        - name: move config file
                          uses: garygrossgarten/github-action-ssh@release
                          with:
                                  command: |
                                          sudo cp /tmp/edges.conf /etc/nginx/sites-available/
                                          sudo ln -s /etc/nginx/sites-available/edges.conf /etc/nginx/sites-enabled/edges
                                          rm /tmp/edges.conf
                                  host: ${{ secrets.HOST }}
                                  username: ${{ secrets.USERNAME }}
                                  password: ${{ secrets.PASSWORD }}
                        - name: restart nginx 
                          uses: garygrossgarten/github-action-ssh@release
                          with:
                                  command: |
                                          sudo systemctl restart nginx
                                  host: ${{ secrets.HOST }}
                                  username: ${{ secrets.USERNAME }}
                                  password: ${{ secrets.PASSWORD }}
                                  
