name: backend 

on:
        push:
                branches: [master]

jobs:
        build:
                runs-on: ubuntu-latest
                steps:
                        - name: Checkout
                          uses: actions/checkout@v2
                        - name: Send backend via ssh
                          uses: garygrossgarten/github-action-scp@release
                          with:
                                  host: ${{ secrets.HOST }}
                                  username: ${{ secrets.USERNAME }}
                                  password: ${{ secrets.PASSWORD }}
                                  local: "/home/runner/work/Edges/Edges/backend"
                                  remote: "/home/${{ secrets.USERNAME}}/backend"
        deploy:
                runs-on: ubuntu-latest
                steps:
                        - name: Create config file for ssh copy
                          run: |
                                  echo $(pwd)
                                  echo $ls 
                                  echo ${{ secrets.NGINX_CONFIG}} >> edges.conf
                                  cat edges.conf

                        - name: restart nginx 
                          uses: garygrossgarten/github-action-ssh@release
                          with:
                                  command: |
                                          sudo systemctl restart nginx
                                  host: ${{ secrets.HOST }}
                                  username: ${{ secrets.USERNAME }}
                                  password: ${{ secrets.PASSWORD }}
                                  
